@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto&display=swap');

body {
    background-color: rgb(49, 65, 82);
    font-family: 'Roboto', sans-serif;
}

#tweet {
    display: flex;
    float: right;
    right: 1%;
    top: 48%;
    position: absolute;
}

#calendar {
    position: absolute;
    top: 12%;
    right: 1%;
    color:  rgb(187, 216, 240);
}

#footer {
   position: fixed;
   bottom: 0;

}

#nav {
    width: 100%;
}