#title2 {
    margin-top: -10%;
    padding-bottom: 16px;
}

#body4 {
    margin-top: 15%;
    width: 80%;
    position: relative;
    margin-left: 15%;
    font-size: 20px;
    padding-bottom: 16px;
    color: rgb(187, 216, 240);
}

#tabl {
    position: relative;
    margin-top: -15%;
}

#body5 {
    padding-top: 16px;
    position: relative;
    margin-top: 15%;
    width: 80%;
    margin-left: 15%;
    font-size: 20px;
    color: rgb(187, 216, 240);

}