@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
    font-size: 16px;
}

.navbar-custom{
    background:rgb(33, 43, 51);
    height:9vh;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(187, 216, 240);
    font-family:'VT323','monospace';
    font-size:2.5rem;
}
.navbar-custom .navbar-nav .nav-link {
    color:rgb(187, 216, 240);
    font-family:'VT323','monospace';
    font-size:2rem;
    float:right;
    vertical-align: middle;
}

#logo {
    width: 4rem;
    vertical-align: middle;
}

#main {
    font-size: 2.5rem;
}

.others {
    position: relative;
    top: 0.5rem;
    left: 1rem;
}