.slide-container {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

.img {
  height: 30vw;
}

.text {
  width: 70%;
  text-align: center;
  margin-top: 2%;
  color:  rgb(187, 216, 240);
}