.slide-container {
  position: absolute;
  top: 25%;
  right: 25%;
  width: 70vw;
  border-radius: 10px;
}

.img {
  height: 65vh;
  width: 65vw;
}

.text {
  width: 70%;
  text-align: center;
  margin-top: 2%;
  color:  rgb(187, 216, 240);
}