


.hero-unit {

    position:absolute;
    width:20vw;
    top:30vh;
    left:40vw;
    float:right;
    overflow:hidden;



}

#yay{
    position:relative;
    width:30vw;

}

.embed-responsive-16by9{
    top:120vh;
    position:absolute;
    width:50vw;
    float:right;
    overflow:hidden;
    right:25vw;

}
#hed {
    top:90vh;
    position:relative;
}