html {
    font-size: 16px;
}
.hero-unit p {
    position:absolute;
    width:40rem;
    top: 7.5rem;
    left: 35rem;
    float: right;
    font-size: 2rem;
    color:  rgb(187, 216, 240);
}

.hero-unit img {
    position: absolute;
    top: 11rem;
    left: 25rem;
}

.embed-responsive-16by9{
    top:37rem;
    position:absolute;
    width:20rem;
    left:59rem;
}
#hed {
    top:43rem;
    left:10rem;
    position:absolute;
    color:  rgb(187, 216, 240);

}
