 html {
  font-size: 32px;
}
#accordion{
    width:20rem;
    position:fixed;
    top:10rem;
    left:2.5rem;
    font-size: 1rem;

 }

 #header {
   font-size: 2rem;
 }

 /*  .list-group {
   width: 15rem;
   position: relative;
   top: 4rem;
   left: -10rem;
  font-size: 1.5rem;
 }

 .list-group-item {
  position: relative;
 font-size: 1.5rem;
 }

 .list-group > .sublist {
    display: none;
    margin-bottom: 0;
    position: relative;
    margin: 5px;
  }

  .list-group-item:focus-within + .sublist {
    display: block;
  }
  
  .list-group > .sublist {
    border-radius: 0;
    border-width: 1px 0 0 0;
  }
  
  .list-group > .list-group-item:first-child {
    border-top-width: 0;
  }
  
  .list-group  > .list-group > .list-group-item {
    padding-left: 2.5rem;
  }


 */